html {
  scroll-behavior: smooth;
}

#navbar {
  overflow: hidden;
  background-color: rgba(0,0,0,.6); 
  font-family: 'Raleway', sans-serif;
}

#navbar a {
  display: inline-flex;
  color: white;
  padding: 12px;
  text-decoration: none;
}
/*.sticky {
  position: fixed;
  width: 100%;
}*/


.welcome {
	background-image: url('bg1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    height: 760px;
    justify-content: center;
    text-align: center;
	}

.tab{
	margin-top: 100px;
	margin: 150px 300px;
	background: rgba(0,0,0,.6);
}

.welcome p{
    letter-spacing: 0.29em;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: white;
}

.welcome .logo{
	color: rgb(180, 80, 8);
	font-family:Allura;
	font-size: 50px;
	font-weight: 700;
}


.section2 {
	display: flex;
	flex-flow: row;
	background-color: rgb(180, 80, 8);
	height: 760px;
	width: 100%;

	
}


.card {
	height: 250px;
	width: 180%;

}

.card-title{
	color: white;
	font-family: 'Raleway', sans-serif;

}

.card-deck {
	padding-top: 50px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
}


.card-text{
font-family: 'Raleway', sans-serif;
color:black;
}


.section4 {
	
	  height: 760px;
   	  width: 100%;
   	  background-color: white;
}


h1 {
	color: black;
	 font-family: 'Raleway', sans-serif;
	text-align: left;
	
}
.p1 {
	text-align: center;
	font-size: 80px;
	font-family: 'Raleway', sans-serif;

}

h4{
	color: black;
 text-align: center;
}
h2{
	color: rgb(180, 80, 8);
 text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

ul li a {
 color: black;
}

/*responsive*/
/*
@media screen and (min-width: 700px){
	nav ul{
		text-align: center;
	}
	nav ul li{
		display: inline-block;
		border-bottom: :0px;
	}
}
*/